html {
    /* cursor: url("./katana.png"), auto; */
    margin: 0;
    height: 100%
}

a {
    /* cursor: url("./katana.png"), auto; */
}

body {
    margin: 0;
    height: 100%;
    background-color: black;
    color: #fff;
    /* background-image:url("./baltimore-bushido.jpeg");
    background-repeat:repeat;
    background-size: 200px */
}

#title {
    padding:20px;
    /* position: sticky;
    top: 0;
    background-color: #000 */
}

.title-text, .title-image {
    display: inline-block;
    vertical-align:middle;
}

#menu {
    display: flex;
    flex-direction: row;
}

#menu a:hover {
    background-color: #333
}

#menu a {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    color: hotpink;
    text-decoration: none;
}

iframe {
    border-width: 0;
    border-radius: 10px;
}

p {
    color: hotpink;
}
